In [31]:
import requests
import pandas as pd
import psycopg2
from datetime import date
from datetime import datetime
from dateutil.parser import parse
import psycopg2.extras as extras

In [3]:
users_data = requests.get("https://619ca0ea68ebaa001753c9b0.mockapi.io/evaluation/dataengineer/jr/v1/users")

In [4]:
users_data = users_data.json()
users_data = pd.DataFrame(users_data)
users_data.head(1).to_dict('records')

[{'createdAt': '2021-11-23T16:10:33.614Z',
  'updatedAt': '2021-11-24T13:34:15.404Z',
  'firstName': 'Levi',
  'lastName': 'Bins',
  'address': 'Ernestine Shore',
  'city': 'Pembroke Pines',
  'country': 'United States',
  'zipCode': '05734',
  'email': 'Kianna_Nicolas@hotmail.com',
  'birthDate': '2020-12-16T02:41:21.036Z',
  'profile': {'gender': 'male',
   'isSmoking': True,
   'profession': 'Central Configuration Planner',
   'income': '3709.61'},
  'subscription': [{'createdAt': '2021-11-24T16:58:46.581Z',
    'startDate': '2021-11-24T05:12:49.301Z',
    'endDate': '2022-09-15T06:05:59.630Z',
    'status': 'Active',
    'amount': '43.18'}],
  'id': '1'}]

In [5]:
def get_age(birth_date):
    birth_date = parse(birth_date)    
    today = date.today()
    age = today.year - birth_date.year
    return age

def get_gender(profile):
    return profile['gender']

def get_smoking(profile):
    return profile['isSmoking']

def get_income(profile):
    return profile['income']

def get_email(email):
    return email.split("@")[-1]

In [6]:
modified_users_data = pd.DataFrame()
modified_users_data['id'] = users_data['id']
modified_users_data['createdAt'] = users_data['createdAt']
modified_users_data['age'] = users_data.apply(lambda x: get_age(x['birthDate']),axis=1)
modified_users_data['city'] = users_data['city']
modified_users_data['country'] = users_data['country']
modified_users_data['emailDomain'] = users_data.apply(lambda x: get_email(x['email']),axis=1)
modified_users_data['gender'] = users_data.apply(lambda x: get_gender(x['profile']),axis=1)
modified_users_data['smoking'] = users_data.apply(lambda x: get_smoking(x['profile']),axis=1)
modified_users_data['income'] = users_data.apply(lambda x: get_income(x['profile']),axis=1)
modified_users_data['updatedAt'] = users_data['updatedAt']
modified_users_data

,id,createdAt,age,city,country,emailDomain,gender,smoking,income,updatedAt
0,1,2021-11-23T16:10:33.614Z,2,Pembroke Pines,United States,hotmail.com,male,True,3709.61,2021-11-24T13:34:15.404Z
1,2,2021-11-23T02:40:10.964Z,1,Meganemouth,Namibia,gmail.com,male,True,1504.25,2021-11-24T16:04:42.393Z
2,3,2021-11-23T06:26:53.843Z,1,Port Cary,Bulgaria,gmail.com,female,False,3256.41,2021-11-24T06:37:01.117Z
3,4,2021-11-23T03:27:56.458Z,1,South Christophe,United States,gmail.com,male,True,758.89,2021-11-24T17:00:21.524Z
4,5,2021-11-23T14:57:27.793Z,1,East Darrionhaven,Iceland,gmail.com,female,False,2658.19,2021-11-24T05:23:38.587Z
5,6,2021-11-22T19:14:23.721Z,1,None,United States,yahoo.com,None,True,None,2021-11-24T02:56:07.833Z

In [7]:
def get_subscription_status(subscription):
    try:
        return subscription[0]['status']
    except:
        return None

In [8]:
subscription_users_data = pd.DataFrame()
subscription_users_data['id'] = users_data['id']
subscription_users_data['createdAt'] = users_data['createdAt']
subscription_users_data['updatedAt'] = users_data['updatedAt']
subscription_users_data['status'] = users_data.apply(lambda x: get_subscription_status(x['subscription']),axis=1)

In [9]:
messages_data = requests.get("https://619ca0ea68ebaa001753c9b0.mockapi.io/evaluation/dataengineer/jr/v1/messages")

In [10]:
messages_data = messages_data.json()
messages_data = pd.DataFrame(messages_data)

In [13]:
messages = messages_data[['createdAt', 'receiverId', 'senderId']]

In [15]:
messages

                   createdAt receiverId senderId
0   2021-11-25T12:18:57.208Z          2        1
1   2021-11-25T15:26:33.436Z          3        2
2   2021-11-25T21:55:29.995Z          1        3
3   2021-11-26T03:09:45.900Z          1        4
4   2021-11-26T09:15:42.912Z          1        5
5   2021-11-27T06:42:02.172Z          2        6
6   2021-11-27T06:38:39.424Z          5        1
7   2021-11-27T07:16:37.817Z          6        2
8   2021-11-27T12:38:30.049Z          1        3
9   2021-11-27T21:11:57.106Z          3        1
10  2021-11-28T09:52:46.662Z          3        2
11  2021-11-29T16:46:39.067Z          1        3
12  2021-11-30T04:16:42.642Z          1        4
13  2021-12-02T11:56:37.965Z          5        1
14  2021-12-03T14:56:08.235Z          1        2
15  2021-12-04T15:18:24.615Z          6        3
16  2021-12-04T18:56:24.587Z          6        4
17  2021-12-04T21:06:18.402Z          1        5
18  2021-12-05T04:27:18.654Z          1        6
19  2021-12-06T02:30:13.552Z          2        1

In [45]:
def execute_values(conn, df, table):
  
    tuples = [tuple(x) for x in df.to_numpy()]
  
    cols = ','.join(list(df.columns))
    # SQL query to executea
    query = "INSERT INTO %s(%s) VALUES %%s" % (table, cols)
    cursor = conn.cursor()
    try:
        extras.execute_values(cursor, query, tuples)
        conn.commit()
    except (Exception, psycopg2.DatabaseError) as error:
        print("Error: %s" % error)
        conn.rollback()
        cursor.close()
        return 1
    print("the dataframe is inserted")
    cursor.close()

    
# conn_str = "postgresql://root:spark_nw_pw@localhost:5433/spark_nw"
# engine = create_engine(conn_str)
# connection = engine.raw_connection()
# # execute_values(connection, modified_users_data, 'USERS')
# # execute_values(connection, subscription_users_data, 'subscription')
# execute_values(connection, messages, 'message')
connection.commit()

In [43]:
import pandas.io.sql as psql
from sqlalchemy import create_engine, MetaData
import sqlalchemy

conn_str = "postgresql://root:spark_nw_pw@localhost:5433/spark_nw"
engine = create_engine(conn_str)
connection = engine.connect()

create_usr_sql ='''CREATE TABLE USERS(
       id INT,
       createdAt TIMESTAMP,
       age INT,
       city CHAR(150),
       country CHAR(150),
       emailDomain CHAR(150),
       gender CHAR(150),
       smoking CHAR(150),
       income FLOAT,
       updatedAt TIMESTAMP
    )'''

create_subscription_sql = """
                            CREATE TABLE SUBSCRIPTION(
                                   id INT,
                                   createdAt TIMESTAMP,
                                   updatedAt TIMESTAMP,
                                   status CHAR(150)
                                )"""

create_message_sql = """CREATE TABLE MESSAGE(
       createdAt TIMESTAMP,
       receiverId INT,
       senderId INT
    )"""

sql = """DROP TABLE USERS;"""

connection.execute(create_message_sql)


print("Table created successfully........")
# connection.commit()
# #Closing the connection
# connection.close()

Table created successfully........